**<font size="3">Quick Overview</font>**

This is a project I made to learn how to use Twitter's API, as well as Postgres. This project calls Twitter's API to get the trending topics in Toronto. Using the data from the call, I create a few things. I create a daily snapshot text file to get a quick look at the trending topics on a specific date, I store the trending topics in a json file so it is easy to use in the future, and I send the daily trending topics to a locally hosted database.

This project uses the Tweepy library to work with the Twitter API, Pandas to easily handle the data, and sqlalchemy to create a connection with my database.

This project requires Twitter API Tokens in addition to my Database password so I have them stored in a seperate file on my machine.

Finally I use Windows task scheduler to run my code daily at 1PM so I can get the Twitter Daily Trends everyday without having to run anything myself.

**<font size="3">Importing Libraries</font>**

In [32]:
import tweepy
import json
import pandas as pd
import sqlalchemy
import os
from datetime import datetime

In [3]:
CANADA_WOEID = 23424775
current_date = datetime.today().strftime('%Y-%m-%d')

**<font size="3">Generate Passwords From Password File and Create SQL Engine</font>**

In [17]:
passwords_file = open(".//passwords.txt")
passwords = {}
# Get all info from passwords text file for security purposes
for line in passwords_file:
    equals_index = line.index("=")  # Use equal sign as delimiter
    passwords[line[:equals_index]] = line[equals_index + 1:].strip()
passwords_file.close()

consumer_key = passwords["c_key"]
consumer_secret = passwords["c_secret"]

access_token = passwords["a_token"]
access_token_secret = passwords["a_token_secret"]

postgres_connection_string = passwords["postgres"]

engine = sqlalchemy.create_engine(passwords["postgres"])  # Connect to locally hosted PostgreSQL DB
print("Consumer Key: " + consumer_key)
print("Consumer Secret Key: " + consumer_secret)
print("Twitter Access Token: " + access_token)
print("Twitter Secret Access Token: " + access_token_secret)
print("Postgres Connection: " + postgres_connection_string)

Consumer Key: Qx9NUC17dFkPK3i6862cnRJRg
Consumer Secret Key: r4nGh2tXsnr16WZDmDEeOxk5IZsvnDLnCpUJL0i34uVDvylhE2
Twitter Access Token: 1430584802407813120-1DHy1xPPyQvKr63Ue7y3I4o347Hmt2
Twitter Secret Access Token: HTG9I79oBziej1K2NookkDiOEQ7WT1YLpUVGwhkI4Ry5H
Postgres Connection: postgresql://postgres:Raptors11!@localhost:5432/toronto-trending-topics

**<font size="3">Set Up Connection To Twitter API</font>**

In [5]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

lat = 43.6435  # I used the lat + long of Scotiabank Arena
long = -79.3791

**<font size="3">Make API Call To Get Canada's Where on Earth ID (WOEID)</font>**

In [10]:
canadian_trends_info = api.closest_trends(lat, long)
trends_dict = canadian_trends_info[0]

print(trends_dict)
toronto_woeid = trends_dict["woeid"]
# exclusions = "hashtags"  # Trending topics has some hashtags included as well. If we don't want them pass this
exclusions = [""]

{'name': 'Toronto', 'placeType': {'code': 7, 'name': 'Town'}, 'url': 'http://where.yahooapis.com/v1/place/4118', 'parentid': 23424775, 'country': 'Canada', 'woeid': 4118, 'countryCode': 'CA'}

**<font size="3">Make API Call to get Trending Topics</font>**

In [11]:
try:  # Error handling in case I put wrong lat & long
    canadian_trending_topics = api.get_place_trends(toronto_woeid, exclude=exclusions)
except tweepy.TweepyException:
    print("No trending topics for WOEID: {}".format(toronto_woeid))

trending_topics_dict = canadian_trending_topics[0]  # trends_place returns a list with 1 dictionary object
print(trending_topics_dict["trends"][0]) # Example Trending Topic

{'name': 'Pat King', 'url': 'http://twitter.com/search?q=%22Pat+King%22', 'promoted_content': None, 'query': '%22Pat+King%22', 'tweet_volume': None}

**<font size="3">Dump Trending Topics Into Json File</font>**

In [12]:
json_string = "CanadianTrendingTwitterTopics" + current_date + ".json"  # Making file name for json

with open(json_string, "w") as file:
    json.dump(trending_topics_dict, file, indent=4)  # Indent for readability

**<font size="3">Turn Trending Topics Into Dataframe</font>**

In [23]:
trends_df = pd.DataFrame(trending_topics_dict["trends"])
trends_df.sort_values("tweet_volume", ascending=False, inplace=True) # Sort by tweet volume to see most tweeted about topic for the day
trends_df["date"] = current_date  # Add date to dataframe for entry into database
trends_df.reset_index(drop=True, inplace=True) # Reindex after a sort
trends_df.head()

,name,url,promoted_content,query,tweet_volume,date
0,Weverse,http://twitter.com/search?q=Weverse,None,Weverse,416954.0,2022-07-18
1,Uvalde,http://twitter.com/search?q=Uvalde,None,Uvalde,253139.0,2022-07-18
2,Luca,http://twitter.com/search?q=Luca,None,Luca,163724.0,2022-07-18
3,taemin,http://twitter.com/search?q=taemin,None,taemin,132907.0,2022-07-18
4,Dybala,http://twitter.com/search?q=Dybala,None,Dybala,127675.0,2022-07-18

**<font size="3">Send Trends Dataframe to Database</font>**

In [24]:
trends_df.to_sql("trending_topics_toronto", engine, if_exists="append", index=True)  # If the table already exists we append, and we want a column for the idnexes which represent "trendyness"

**<font size="3">Querying From Database To Make Daily Snapshot</font>**

In [25]:
query_string = "SELECT * FROM trending_topics_toronto WHERE date = '"+current_date+"'"  # Need quatations around date since postgres can't recognize it is a string and not a date format

daily_snapshot_df = pd.read_sql(sqlalchemy.text(query_string), engine)
daily_snapshot_df.head()

,index,name,url,promoted_content,query,tweet_volume,date
0,0,Weverse,http://twitter.com/search?q=Weverse,None,Weverse,416954.0,2022-07-18
1,1,Uvalde,http://twitter.com/search?q=Uvalde,None,Uvalde,253139.0,2022-07-18
2,2,Luca,http://twitter.com/search?q=Luca,None,Luca,163724.0,2022-07-18
3,3,taemin,http://twitter.com/search?q=taemin,None,taemin,132907.0,2022-07-18
4,4,Dybala,http://twitter.com/search?q=Dybala,None,Dybala,127675.0,2022-07-18

**<font size="3">DF Clean Up</font>**

In [26]:
daily_snapshot_df.rename(columns={"index": "trend_rank"}, inplace=True)  # Renamed for clarity

daily_snapshot_df.drop(columns=["url", "promoted_content", "query"], inplace=True)

json_string = "TwitterSnapshot-" + current_date + ".json"

daily_trends_dict = daily_snapshot_df.to_dict()  # Change DF to dictionary so it can easily be stored as JSON

**<font size="3">Create JSON File</font>**

In [28]:
with open(json_string, "w") as file:
        json.dump(daily_trends_dict, file, indent=4, default=str)  # Indent for readability, and default to str since datetime is not serializable

**<font size="3">Create Daily Snapshot Text File</font>**

In [34]:
snapshot_df_string = daily_snapshot_df.to_string(index=False, columns=["name", "tweet_volume"]) # Save as text file as well for quick readability
print(os.linesep.join(snapshot_df_string.split(os.linesep)[:10]))
file_string = "TwitterSnapshot-" + current_date + ".txt"
daily_snapshot_file = open(file_string, "w")
daily_snapshot_file.write("Twitter Daily Trending Topics in Canada\n")
daily_snapshot_file.write(current_date + "\n")
daily_snapshot_file.write(snapshot_df_string)

daily_snapshot_file.close()

              name  tweet_volume
           Weverse      416954.0
            Uvalde      253139.0
              Luca      163724.0
            taemin      132907.0
            Dybala      127675.0
              Roma      120315.0
 #MondayMotivation       67038.0
          Emmanuel       61064.0
       Ben Affleck       56898.0

**<font size="3">Send To Daily Snapshot Table In DB</font>**

In [36]:
daily_snapshot_df.to_sql("daily_snapshots", engine, if_exists="append", index=False)